%div.pull-right= link_to 'Add a donation', new_donation_path(:person_id => @person.id), :id => "new_donation", :class => "btn"

%h2 Donations Made
- if @person.donations
  %table.table.table-condensed
    %tr
      %th Date
      %th Amount
    - @person.donations.each do |d|
      %tr
        %td= d.date
        %td= number_to_currency(d.amount)
  %div
    %center
      Donation Amount by Year
      %br/                               
      %img{:src => @amount_graph, :style => ""}
      %br/                         
      Donation Frequency by Year
      %br/ 
      %img{:src => @freq_graph}       
- else
  No donations...
