%div#header.container_12
  %h1 Ragged Wing CRM (version 1.0)
%br
%div#body.container_12
  %div#dashboard.grid_3.alpha
    %div#dashboard-title.align_center Dashboard
    %ul#nav
      %li= link_to "Home", "/"
      %li= link_to "Contacts", "/contacts/"

  %div#content.grid_9.omega &nbsp;
%br
%div#footer.container_12.align_right &copy; 2012