/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * deactivated automatic adding of files (removed equal sign after the asterix)
 *=require_self
 *=require_tree .
*/

@import "bootstrap";
@import "bootstrap-responsive";


/* compensate the overlap caused by bootstrap top navigation */
@media (min-width:980px) {
	body { padding: 60px 0 10px 0; }
}

.jquery_form_error_message {
  display: block;
  margin-top: 3px;
}

/* Modify Scaffold error classes to use Bootstrap styles */
#error_explanation {
  @extend .alert;
  @extend .alert-error;
}

#error_explanation h2 {
  font-size:14px;
  line-height:1em;
}