@import 'reset.css';
@import 'text.css';

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  color: #0098D1;
}

a:hover {
  color: #C60;
}

a:active {
  color: #FF9933;
  text-shadow: 0 0 1em #FFCC99;
}

small {
  font-size: 11px;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

input {
  border: 1px solid #DDD;
  padding: 7px 6px 5px 6px;
}

input.button {
  padding:4px 8px;
  font-size:14px;
  color:#FFF;
  background-color:#0098D1;
  border-radius:5px;
}
input.button:active {
  background-color:#38C8FF;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

.data,
.data th,
.data td {
  border-style: solid;
  border-color: #ddd;
}

.data {
  border-width: 0 1px 1px;
  width: 100%;
}

.data caption {
  padding: 0 10px 5px;
  text-transform: uppercase;
}

.data th,
.data td {
  border-top-width: 1px;
  padding: 5px 10px;
}

.data th {
  white-space: nowrap;
}

.data thead th {
  background: #eee;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}

.data tbody th {
  width: 1px;
}

.data tr th:first-child {
  text-align: right;
}

/* `Code
----------------------------------------------------------------------------------------------------*/

pre,
code {
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
}

pre,
.notice {
  background: #ffe;
  border: 1px solid;
  border-color: #eed #ccb #bba #ddc;
  overflow: auto;
  padding: 10px 0 10px 10px;
}

* html pre {
  overflow: hidden;
  width: 97%;
}

code {
  background: #ff9;
  padding: 0 2px;
}

h1 {
  color:#0098D1;
}

/* `Header
----------------------------------------------------------------------------------------------------*/
#header {
  margin:5px 0;
}
#header h1 {
  font-size:1em;
  color:#888;
  margin-bottom:0;
}

/* `Nav
----------------------------------------------------------------------------------------------------*/
#nav {
  margin:4px 0;
  border:1px solid #888;
  padding:4px 4px 6px 0;
  border-radius:5px;
  background-color:#FBFBFB;
}

ul#nav_links {
  margin:0;
  padding:6px 0 4px 8px;
  display:inline-block;
  list-style-type: none;
}

ul#nav_links li {
  margin:0;
  padding:4px 15px 0 0;
  display:inline;
  font-size:14px;
}

#nav_links a {
  text-decoration:none;
}

#search {
  display:inline;
  float:right;
  padding:2px 4px;
  background-color:#FBFBFB;
  border-radius:4px;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/
#footer {
  margin-top:4px;
  border-top:1px solid #888;

}

/* Table
----------------------------------------------------------------------------------------------------*/
th {
  font-weight:bold;
}
th, td {
  padding:2px 5px;
}