@import 'reset.css';
@import 'text.css';

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
}

h1 {
  border-bottom: 1px solid #ccc;
  padding: 10px 90px 10px 15px;
  text-shadow: #fff 0 1px 0;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  color: #06c;
}

a:hover {
  color: #c60;
}

small {
  font-size: 11px;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

.data,
.data th,
.data td {
  border-style: solid;
  border-color: #ddd;
}

.data {
  border-width: 0 1px 1px;
  width: 100%;
}

.data caption {
  padding: 0 10px 5px;
  text-transform: uppercase;
}

.data th,
.data td {
  border-top-width: 1px;
  padding: 5px 10px;
}

.data th {
  white-space: nowrap;
}

.data thead th {
  background: #eee;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}

.data tbody th {
  width: 1px;
}

.data tr th:first-child {
  text-align: right;
}

/* `Code
----------------------------------------------------------------------------------------------------*/

pre,
code {
  font-size: 12px;
  font-family: Menlo, Courier, monospace;
}

pre,
.notice {
  background: #ffe;
  border: 1px solid;
  border-color: #eed #ccb #bba #ddc;
  overflow: auto;
  padding: 10px 0 10px 10px;
}

* html pre {
  overflow: hidden;
  width: 97%;
}

code {
  background: #ff9;
  padding: 0 2px;
}

/* `Header
----------------------------------------------------------------------------------------------------*/
#header {
  border-bottom: 5px solid #666;
}
#header h1 {
  margin-bottom:0;
}

/* `Nav
----------------------------------------------------------------------------------------------------*/
#dashboard {
  border:1px solid #666;
}

#dashboard-title{
  font-size:14px;
  font-weight:bold;
}

ul#nav {
  margin:0;
  padding: 2px 5px 2px 8px;
  list-style-type: none;
}

ul#nav li {
  margin:0;
  padding:2px 0;
}

ul#nav a {
  text-decoration:none;
}

#footer {
  border-top:5px solid #666;
}

/* Table
----------------------------------------------------------------------------------------------------*/
th {
  font-weight:bold;
}
th, td {
  padding:2px 4px;
}